.custom-border {
    border-style: solid;
    border-color: #3498DB;
}

.custom-footer {
    background-color: #D1D5DB;    
    position:absolute;
    left:0;
    bottom:0;
    right:0;
}

.App {
    min-height: 100vh;
    background-color: #FAFAFA;
}

.suggestions {
    border: 1px solid #999;
    border-top-width: 0;
    list-style: none;
    margin-top: 0;
    max-height: 143px;
    overflow-y: auto;
    padding-left: 0;
    width: calc(300px + 1rem);
  }

.suggestion-active,
.suggestions li:hover {
  background-color: #008f68;
  color: #fae042;
  cursor: pointer;
  font-weight: 700;
}