.custom-border {
    border-style: solid;
    border-color: #3498DB;
}

.custom-footer {
    background-color: #D1D5DB;    
    position:absolute;
    left:0;
    bottom:0;
    right:0;
}

.App {
    min-height: 100vh;
    background-color: #FAFAFA;
}