.custom-border {
    border-style: solid;
    border-color: #3498DB;
}

.custom-footer {
    background-color: #D1D5DB;    
    position:absolute;
    left:0;
    bottom:0;
    right:0;
}

.App {
    min-height: 100vh;
    background-color: #FAFAFA;
}

.suggestions {
    border: 1px solid #999;
    border-top-width: 0;
    list-style: none;
    margin-top: 0;
    max-height: 6rem;
    overflow-y: auto;
    padding-left: 0;
    background-color: white;
    position: absolute;
    width: 12.9rem;
 }

.suggestion-active,
.suggestions li:hover {
  cursor: pointer;
  font-weight: 700;  
  border-style: solid;
  border-color: #3498DB;
}

.pkm-container {
    width: 18.75rem;
    height: 6.25rem;  
    box-sizing: border-box;
}
  